/* * {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.ui.cards > .card > .image {
  height: 250px;
  
  padding: 20px;
  background: #fff;
  margin: auto;
}
.ui.cards > .card > .image > img {
  height: 100%;
  width: 100%;
  
}
.ui.cards > .card > .content > .header {
  height: 48px;
  overflow: hidden;
  margin-bottom: 5px;
}
.ui.cards > .card > .content > .description {
  height: 36px;
  margin-bottom: 0px;
  overflow: hidden;
}
.ui.cards > .card .meta.price {
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.ui.cards > .card .meta.price > a {
  font-size: 1.3rem;
  color: #222;
}

.ui.menu.fixed {
  height: 60px;
  padding-top: 15px;
}

.ui.grid.container {
  margin-top: 45px;
}

.ui.grid > .row {
  background: #fff;
}
.ui.grid > .row > .column.lp {
  padding: 20px 40px 20px 20px;
  align-self: flex-start !important;
}
.ui.grid > .row > .column.rp {
  padding: 20px 20px 20px 40px;
  text-align: left;
  align-self: flex-start !important;
}

.ui.grid > .row > .column > img,
.ui.grid > .row > img {
  height: 100%;
}
.ui.placeholder .header:not(:first-child):before,
.ui.placeholder .image:not(:first-child):before,
.ui.placeholder .paragraph:not(:first-child):before {
  display: none;
}

.ui.label,
.ui.labels .label {
  font-size: 22px;
}

.column.rp h1 {
  color: #333;
}
.column.rp p {
  font-size: 18px;
  color: #777;
}
.ui.placeholder.segment .column .button,
.ui.placeholder.segment .column .field,
.ui.placeholder.segment .column textarea,
.ui.placeholder.segment .column > .ui.input {
  background-color: #ff3e6c;
  border: 1px solid #ff3e6c;
  color: #fff;
  font-size: 18px;
  margin-left: 0;
} */

.prod{
  border: 1px solid #ccc;
  padding: 20px; /* Add padding to the card */
  position: relative;
  background-color: rgb(223, 233, 233);
}
.containerr{
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Creates responsive grid with minimum width of 200px */
  grid-gap: 10px; /* Add gap between grid items */
}
.img{
  height: 200px;
  width: 200px;
}
.contenu{
  color: gray;
  margin-top: 10px;
}
.category{
  color: blue;
  position: absolute;
  bottom: 10px;
  left: 20px;

}
.price{
  color: red;
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.title{
  color: black;
  height: 100px;
  overflow: hidden
}
.titre{
  margin: 10px !important;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}
.bgg{
  background-color: rgb(223, 233, 233) !important;
}


.img2{
  width: 400px;
  height: 400px;
  border: 1px solid #ccc;
  padding: 10px;
}
.contr{
  margin-top: 10% ;
}
.flexx {
  display: flex;
}
.cont{
  padding: 50px;
}
.add{
  background-color: rgb(223, 233, 233) ;
  padding: 20px;
  width: fit-content;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  right: 100px;
}
.cat {
  color: blue;
}
.prix{
  color: red;
}
.container1{
  overflow: hidden;
}
.load {
  margin-top: 50px;
}